/* Reset and global styles */
::after,
::before,
* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #161A30;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.leftList {
    list-style: none;
    display: flex;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 3rem;
}

.centerList li {
    list-style: none;
    display: inline;
}

.navButtons li {
    margin: 0 10px;
}

.navButtons a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 1em;
}

.navButtons a:hover {
    color: #A9A9A9;
}

footer {
    background-color: #151930;
    color: white;
    font-weight: 600;
    padding: 1rem;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
}

svg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Coloca el svg detrás del contenido */
}

text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: #ffffff;
    font-size: 16px;
}

.main-content {
    margin-top: 100vh; /* Ajusta según el tamaño del svg */
    padding: 20px;
}

h1 {
    font-size: 2.2em;
}

